<div class="row zap-fullpage">
  <div class="col-4 col-md-3 zap-bg-medium">
    <zap-jobs-list></zap-jobs-list> 
  </div>
  <div class="col-8 col-md-9 zap-overflow-auto" *ngIf="currJobService.job" style="height: calc(100% - 110px);">
    <zap-job-detail></zap-job-detail>
    <zap-input-stream></zap-input-stream>
  </div>  
</div>
<nav class="navbar fixed-bottom navbar-light zap-bg-lighter">
  <form class="form-inline">
      <button class="btn btn-success mr-2" (click)="onSave()"><span class="oi oi-check"></span>&nbsp;Save</button>
      <button class="btn btn-secondary" (click)="onClose()"><span class="oi oi-folder"></span>&nbsp;Close</button>
    </form>
  <form class="form-inline">
    <button class="btn btn-primary" (click)="onConvert()">Convert&nbsp;&nbsp;<span class="oi oi-caret-right"></span></button>
  </form>
</nav>
