<div class="row zap-bg-lightest pt-2">
  <div class="col-7">
    <form>
      <div class="form-group row">
        <label for="targetFolder" class="col-sm-3 col-form-label">output folder</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input type="text" class="form-control" id="targetFolder"  name="targetFolder" [(ngModel)]="projectService.theProject.targetFolder">
            <div class="input-group-append">
                <span class="input-group-text"><span class="oi oi-ellipses" role="button" (click)="onBrowseOutput()"></span></span>
              </div>
          </div>
        </div>
      </div>
    </form> 
  </div>
  <div class="col-2">
      <button class="btn btn-primary" (click)="onConvert()"><span class="oi oi-bolt"></span>&nbsp;Go!</button>
  </div>
  <nav class="navbar fixed-bottom navbar-light zap-bg-lighter">
    <form class="form-inline">
      <button class="btn btn-secondary" (click)="onBack()"><span class="oi oi-caret-left"></span>&nbsp;&nbsp;Back</button>
    </form>
  </nav>
  