/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.zap-main-frame {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

body, html {
    height: 100%;
}

/* html {
    font-size: 0.95rem;
  } */

.zap-no-overflow {
    overflow: hidden;
}

.zap-fullpage {
    min-height: 100%;
    height: 1px;
}