// $theme-colors: (
//   "dark": #4A148C,
//   "light":#F3E5F5
// );


$theme-colors: (
  "dark": #1976D2, // 700
  "light":#90CAF9, // 200
  "medium":#2196F3 // 500
);

@import "node_modules/bootstrap/scss/bootstrap";

.zap-bg-dark {
    background: theme-color(dark);
}

.zap-bg-darker {
    background: theme-color-level(dark, 3);
}

.zap-bg-darkest {
    background: theme-color-level(dark, 6);
}

.zap-bg-light {
    background: theme-color(light);
}

.zap-bg-lighter {
    background: theme-color-level(light, -8);
}

.zap-bg-lightest {
     background: theme-color-level(light, -11);
}

.table .thead-dark th {
    background: theme-color(dark);
    border-color: theme-color-level(dark, 1);
}

.table .thead-light th {
    background: theme-color(light);
    border-color: theme-color-level(light, 1);
}