/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.main-frame {
    padding: 15px;
}

/* html {
    font-size: 0.95rem;
  } */